<a href="https://colab.research.google.com/github/coding-dojo-data-science/intermediate-ml-practice-solutions/blob/main/02-Clustering/PCA_for_Data_Visualization_Practice_STARTER.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

<table style="background-color: rgb(13,32,76); border-radius: 10px">
	<thead>
		<tr>
			<th colspan="2" style="border: hidden; vertical-align: top;" width="15%"><img src="https://assets.codingdojo.com/boomyeah2015/codingdojo/curriculum/content/chapter/1674755226__Icons_400px_Practice Assignment.png">
			</th>
			<th style="border: hidden;">
				<h1 style="color: white;">PCA to Visualize Clusters (Practice)</h1>
			</th>
		</tr>
	</thead>
</table>
<p>This practice assignment will reinforce important learning objectives from the previous lesson(s) and allow you to take on more challenging core assignments, preparing you for graduation.<br></p>
<p>Practice and tinker with this assignment until you're comfortable performing each task. Then, be sure to submit your output as described in the steps below.</p>
<hr>


## Assignment
When clusters are made from more than two features, it is very difficult to visualize the resulting clusters. While 3D plots can be made with Plotly, visualizing more than three features is nearly impossible.

An interesting solution to this is to use PCA to reduce the dimensionality for the purpose of visualizing the clusters.

In this assignment, you will combine PCA and clustering to a credit card customer data set and visualize those clusters in both two-dimensional and three-dimensional scatter plots.

Specifically, you will:

- Load the data [found here](https://drive.google.com/file/d/1IlQ_OZ4f_S5mdkGXumJNYEWaA6ioeDrr/view?usp=sharing)
- Perform basic data cleaning
    - Drop "Unnamed 0" and "Customer Id"
    - Fill in missing values
- Use the remaining eight features of the dataset to perform KMeans clustering.
    - Be sure to scale the data prior to clustering.
    - Determine a value for K (number of clusters) using the elbow method and/or silhouette score.
- Use PCA to define two principal components.
- Visualize the 2 PCs using a scatter plot where points are colored by cluster. While the features (PCs) will no longer be meaningful, you can see how well the model clustered the data.
- Use PCA to define three principal components.
- Visualize the 3 PCs using Plotly's 3d scatterplot, where points are colored by cluster.

[Documentation for scatter_3d from Plotly Express](https://plotly.com/python-api-reference/generated/plotly.express.scatter_3d)

# 1. Import Necessary Libraries

In [ ]:
import pandas as pd
import matplotlib.pyplot as plt
import plotly.express as px
import numpy as np

from sklearn.decomposition import PCA
from sklearn.cluster import KMeans
from sklearn.preprocessing import StandardScaler
from sklearn.metrics import silhouette_score

# 2. Load Data

In [ ]:
df = pd.read_csv('https://docs.google.com/spreadsheets/d/e/2PACX-1vQfsaRE3Pq4HcnCgIb5hgszzYNcKQBoypmZm2zW9Q9hU9-tWdtP8qxBBsiUWMFKzG66unPOdi-lfKdM/pub?gid=794640114&single=true&output=csv')

df.head()

,Unnamed: 0,Customer Id,Age,Edu,Years Employed,Income,Card Debt,Other Debt,Defaulted,DebtIncomeRatio
0,0,1,41,2,6,19,0.124,1.073,0.0,6.3
1,1,2,47,1,26,100,4.582,8.218,0.0,12.8
2,2,3,33,2,10,57,6.111,5.802,1.0,20.9
3,3,4,29,2,4,19,0.681,0.516,0.0,6.3
4,4,5,47,1,31,253,9.308,8.908,0.0,7.2

# 3. Drop Unnecessary Columns

# 4. EDA and Cleaning

# 5. Scale Data

# 6. Tune a KMeans Model and Cluster the Scaled Data Using All Features

# 7. Transform the Scaled Data with PCA

# 8. Plot the Clusters

- The x axis should be the first principal component, you can extract this from the PCA array with `pca_data[:, 0]`

- The y axis should be the second principal component, you can extract this from the PCA array with `pca_data[:, 1]`

- The `c` argument should be the labels from the kmeans model.

# 9. Plot 3 components with Plotly Express

x, y, and z should be the first 3 components and color should be the KMeans model clusters.

[scatter_3d documentation](https://plotly.com/python-api-reference/generated/plotly.express.scatter_3d)